In [2]:
import pandas as pd

mv = pd.read_csv('data.csv')
display(mv.head())

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [11]:
mv.loc[mv.budget == mv.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [13]:
mv.loc[mv.runtime == mv.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [14]:
mv.loc[mv.runtime == mv.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [16]:
mv.runtime.mean()

109.65343915343915

In [17]:
mv.runtime.median()

106.5

In [21]:
mv['profit'] = mv['revenue']-mv['budget']

In [22]:
mv.loc[mv.profit == mv.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [23]:
mv.loc[mv.profit == mv.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [32]:
mv[(mv.profit > 0)].count()

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [34]:
mv_ = mv[mv.release_year == 2008]
mv_.loc[mv_.profit == mv_.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [38]:
mv_ = mv[(mv.release_year >= 2012)&(mv.release_year <= 2014)]
mv_.loc[mv_.profit == mv_.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [39]:
qst = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
for elm in qst:
    df = mv[mv.genres.str.contains(elm, na=False)]
    print(elm, '=', df.genres.count())

Action = 583
Adventure = 416
Drama = 782
Comedy = 683
Thriller = 597

In [46]:
qst = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
mv_p = mv[(mv.profit > 0)]
for elm in qst:
    print(elm, '=', mv_p[mv_p.genres.str.contains(elm, na=False)].genres.count())

Action = 444
Adventure = 337
Drama = 560
Comedy = 551
Thriller = 446

In [42]:
s = mv['director'].value_counts()
display(s)

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Shawn Levy           10
Steven Spielberg     10
                     ..
Atom Egoyan           1
Joby Harold           1
Ronald F. Maxwell     1
Terrence Malick       1
Asif Kapadia          1
Name: director, Length: 958, dtype: int64

In [43]:
s = mv_p['director'].value_counts()
display(s)

Ridley Scott               12
Steven Soderbergh          10
Steven Spielberg           10
Clint Eastwood             10
Shawn Levy                  9
                           ..
Oliver Hirschbiegel         1
David Soren                 1
Michael J. Bassett          1
Stiles White                1
Chris Renaud|Kyle Balda     1
Name: director, Length: 774, dtype: int64

In [48]:
qst = ['Steven Spielberg', 'James Cameron', 'Christopher Nolan', 'David Yates', 'Peter Jackson']
for elm in qst:
    print(elm, '=', mv[mv.director.str.contains(elm, na=False)].profit.sum())

Steven Spielberg = 2449700791
James Cameron = 2548546718
Christopher Nolan = 3162548502
David Yates = 3379295625
Peter Jackson = 5202593685

In [49]:
qst = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
for elm in qst:
    print(elm, '=', mv[mv.cast.str.contains(elm, na=False)].profit.sum())

Emma Watson = 6666245597
Johnny Depp = 4776417000
Michelle Rodriguez = 4608031235
Orlando Bloom = 5148578162
Rupert Grint = 6408638290

In [58]:
qst = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
mv_ = mv[(mv.release_year == 2012)]
for elm in qst:
    print(elm, '=', mv_[mv_.cast.str.contains(elm, na=False)].profit.sum())

Nicolas Cage = -32893443
Danny Huston = -32893443
Kirsten Dunst = -68109207
Jim Sturgess = -23410657
Sami Gayle = -32893443

In [61]:
qst = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
for elm in qst:
    df = mv[mv.cast.str.contains(elm, na=False)]
    print(elm, '=', df[df['budget'] > df.budget.mean()].budget.count())

Tom Cruise = 9
Mark Wahlberg = 7
Matt Damon = 14
Angelina Jolie = 9
Adam Sandler = 16

In [64]:
nc = mv[mv.cast.str.contains("Nicolas Cage", na=False)]
qst = ['Action', 'Adventure', 'Drama', 'Crime', 'Thriller']
for elm in qst:
    print(elm, '=', nc[nc.genres.str.contains(elm, na=False)].genres.count())

Action = 17
Adventure = 7
Drama = 12
Crime = 10
Thriller = 15

In [66]:
qst = ['Universal', 'Warner Bros', 'Columbia Pictures', 'Paramount Pictures', 'Twentieth Century Fox Film Corporation']
for elm in qst:
    print(elm, '=', mv[mv.production_companies.str.contains(elm, na=False)].production_companies.count())

Universal = 185
Warner Bros = 183
Columbia Pictures = 163
Paramount Pictures = 122
Twentieth Century Fox Film Corporation = 109

In [68]:
qst = ['Universal Pictures', 'Warner Bros', 'Columbia Pictures', 'Paramount Pictures', 'Twentieth Century Fox Film Corporation']
cut = mv[mv['release_year'] == 2015]
for elm in qst:
    print(elm, '=', len(cut[cut['production_companies'].str.contains(elm)]))

Universal Pictures = 11
Warner Bros = 12
Columbia Pictures = 7
Paramount Pictures = 7
Twentieth Century Fox Film Corporation = 8

In [69]:
cmd = mv[mv.genres.str.contains("Comedy", na=False)]
qst = ['Universal', 'Warner Bros', 'Columbia Pictures', 'Paramount Pictures', 'Walt Disney']
for elm in qst:
    print(elm, '=', cmd[cmd.production_companies.str.contains(elm, na=False)].profit.sum())

Universal = 9130349034
Warner Bros = 4370928916
Columbia Pictures = 7161805266
Paramount Pictures = 3055625722
Walt Disney = 7975933215

In [70]:
cmd = mv[mv['release_year'] == 2012]
qst = ['Universal', 'Warner Bros', 'Columbia Pictures', 'Paramount Pictures', 'Lucasfilm']
for elm in qst:
    print(elm, '=', cmd[cmd.production_companies.str.contains(elm, na=False)].profit.sum())

Universal = 1981011579
Warner Bros = 1258020056
Columbia Pictures = 2501406608
Paramount Pictures = 410726715
Lucasfilm = -7634623

In [71]:
cmd = mv[mv.production_companies.str.contains("Paramount Pictures", na=False)]
qst = ['K-19: The Widowmaker', 'Next', 'Twisted', 'The Love Guru', 'The Fighter']
for elm in qst:
    print(elm, '=', cmd[cmd.original_title.str.contains(elm, na=False)].profit.sum())

K-19: The Widowmaker = -64831034
Next = -51788987
Twisted = -24805000
The Love Guru = -20180936
The Fighter = -15809131

In [76]:
print('2012 =',mv[mv['release_year'] == 2012].profit.sum())
print('2014 =',mv[mv['release_year'] == 2014].profit.sum())
print('2008 =',mv[mv['release_year'] == 2008].profit.sum())
print('2002 =',mv[mv['release_year'] == 2002].profit.sum())
print('2015 =',mv[mv['release_year'] == 2015].profit.sum())

2012 = 16077001687
2014 = 16397812953
2008 = 11663881990
2002 = 9002361487
2015 = 18668572378

In [77]:
mv_p = mv[mv.production_companies.str.contains("Warner Bros", na=False)]
print('2012 =',mv_p[mv_p['release_year'] == 2012].profit.sum())
print('2014 =',mv_p[mv_p['release_year'] == 2014].profit.sum())
print('2008 =',mv_p[mv_p['release_year'] == 2008].profit.sum())
print('2010 =',mv_p[mv_p['release_year'] == 2010].profit.sum())
print('2015 =',mv_p[mv_p['release_year'] == 2015].profit.sum())

2012 = 1258020056
2014 = 2295464519
2008 = 2134595031
2010 = 1974712985
2015 = 870368348

In [83]:
import datetime

mv['release_date'] = mv['release_date'].astype('datetime64[ns]')
mv_d = mv
mv_d['release_date'] = mv['release_date'].astype('str')
print('Январь =',len(mv_d[mv_d['release_date'].str.contains("-01-")]))
print('Июнь =',len(mv_d[mv_d['release_date'].str.contains("-06-")]))
print('Декабрь =',len(mv_d[mv_d['release_date'].str.contains("-12-")]))
print('Сентябрь =',len(mv_d[mv_d['release_date'].str.contains("-09-")]))
print('Май =',len(mv_d[mv_d['release_date'].str.contains("-05-")]))

Январь = 110
Июнь = 147
Декабрь = 191
Сентябрь = 227
Май = 140

In [84]:
print('Июнь =',len(mv_d[mv_d['release_date'].str.contains("-06-")]))
print('Июль =',len(mv_d[mv_d['release_date'].str.contains("-07-")]))
print('Август =',len(mv_d[mv_d['release_date'].str.contains("-08-")]))

Июнь = 147
июль = 142
август = 161

In [85]:
len(mv_d[mv_d['release_date'].str.contains("-06-")]) + len(mv_d[mv_d['release_date'].str.contains("-07-")]) + len(mv_d[mv_d['release_date'].str.contains("-08-")])

450

In [86]:
dec = mv_d[mv_d.release_date.str.contains("-12-", na=False)]
jan = mv_d[mv_d.release_date.str.contains("-01-", na=False)]
feb = mv_d[mv_d.release_date.str.contains("-02-", na=False)]
sum = pd.concat([dec,jan,feb])
qst = ['Steven Spielberg', 'Clint Eastwood', 'Christopher Nolan', 'Ridley Scott', 'Peter Jackson']
for elm in qst:
    print(elm, '=', len(sum[sum['director'].str.contains(elm)]))

Steven Spielberg = 3
Clint Eastwood = 6
Christopher Nolan = 0
Ridley Scott = 3
Peter Jackson = 7

In [91]:
mnt = ['-01-','-02-','-03-','-04-','-05-','-06-','-07-','-08-','-09-','-10-','-11-','-12-']
tbl = []
for y in range(2000,2016):
    res = mv_d[mv_d['release_year'] == y]
res

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1868178225
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,tt3164256,0.689579,15000000,3020664,Rock the Kasbah,Bill Murray|Zooey Deschanel|Bruce Willis|Kate ...,Barry Levinson,Opportunity rocks where you least expect it.,A washed-up music producer finds one last shot...,100,Comedy|Music|War,Shangri-La Entertainment|QED International|Dun...,2015-10-22,56,5.1,2015,-11979336
114,tt1178665,0.602165,8000000,35991087,A Walk in the Woods,Robert Redford|Nick Nolte|Emma Thompson|Nick O...,Ken Kwapis,"When you push yourself to the edge, the real f...","After spending two decades in England, Bill Br...",104,Drama|Adventure|Comedy,Wildwood Enterprises|Route One Films,2015-09-02,171,5.4,2015,27991087
115,tt2358925,0.577814,35000000,14431253,Unfinished Business,Vince Vaughn|Dave Franco|James Marsden|June Di...,Ken Scott,Best business trip ever.,A hard-working small business owner and his tw...,90,Comedy,Studio Babelsberg|Regency Enterprises|Escape A...,2015-03-05,241,4.9,2015,-20568747
116,tt2883434,0.462090,9000000,21571189,Black or White,Kevin Costner|Jennifer Ehle|Gillian Jacobs|Oct...,Mike Binder,There's more to family than what you see.,A grieving widower is drawn into a custody bat...,121,Drama,Treehouse Pictures,2015-01-30,72,6.7,2015,12571189
117,tt3614530,0.435582,5000000,2333684,Jem and the Holograms,Aubrey Peeples|Stefanie Scott|Aurora Perrineau...,Jon M. Chu,Every Generation Needs a Voice.,"In a hyper-linked social media age, an orphane...",119,Drama|Music|Adventure|Fantasy,Universal Pictures|Blumhouse Productions|Hasbr...,2015-10-22,69,5.7,2015,-2666316

In [100]:
mnt = ['-01-','-02-','-03-','-04-','-05-','-06-','-07-','-08-','-09-','-10-','-11-','-12-']
tbl = []
for y in range(2000,2016):
    res = mv_d[mv_d['release_year'] == y]
    for i in mnt:
        prf = res[res.release_date.str.contains(i, na=False)].profit.sum()
        print(y,'/', i,'=',res[res.release_date.str.contains(i, na=False)].profit.sum())
    print(y, '=', prf.max())

2000 / -01- = -26344591
2000 / -02- = 310137593
2000 / -03- = 490709929
2000 / -04- = 124362846
2000 / -05- = 1382722190
2000 / -06- = 517315528
2000 / -07- = 563809888
2000 / -08- = 264018332
2000 / -09- = 175306761
2000 / -10- = 399938512
2000 / -11- = 487934818
2000 / -12- = 1411487999
2000 = 1411487999
2001 / -01- = 127876758
2001 / -02- = 178360689
2001 / -03- = 396218262
2001 / -04- = 659725033
2001 / -05- = 767934975
2001 / -06- = 780612105
2001 / -07- = 873718941
2001 / -08- = 726979609
2001 / -09- = 21874909
2001 / -10- = 146204533
2001 / -11- = 1567240927
2001 / -12- = 1703868124
2001 = 1703868124
2002 / -01- = 13657034
2002 / -02- = 557847442
2002 / -03- = 832386092
2002 / -04- = 343737203
2002 / -05- = 1421928692
2002 / -06- = 747704475
2002 / -07- = 629306797
2002 / -08- = 579318434
2002 / -09- = 417267245
2002 / -10- = 420527680
2002 / -11- = 1190606216
2002 / -12- = 1848074177
2002 = 1848074177
2003 / -01- = 145423503
2003 / -02- = 422979087
2003 / -03- = 160261385
2003 / -04- = 479653942
2003 / -05- = 2000292657
2003 / -06- = 406445507
2003 / -07- = 1356384641
2003 / -08- = 444992536
2003 / -09- = 503313816
2003 / -10- = 837090991
2003 / -11- = 609390731
2003 / -12- = 1862594516
2003 = 1862594516
2004 / -01- = 223449403
2004 / -02- = 727540831
2004 / -03- = 307233119
2004 / -04- = 275005057
2004 / -05- = 2412578839
2004 / -06- = 1294266591
2004 / -07- = 834850950
2004 / -08- = 332763539
2004 / -09- = 475369751
2004 / -10- = 593314410
2004 / -11- = 1050846495
2004 / -12- = 1106961735
2004 = 1106961735
2005 / -01- = 419099490
2005 / -02- = 506931359
2005 / -03- = 440128754
2005 / -04- = 178673498
2005 / -05- = 1575566228
2005 / -06- = 1193230558
2005 / -07- = 870215460
2005 / -08- = 266644459
2005 / -09- = 995622427
2005 / -10- = 154493344
2005 / -11- = 1027204825
2005 / -12- = 1354115156
2005 = 1354115156
2006 / -01- = 138996816
2006 / -02- = 317624889
2006 / -03- = 799504296
2006 / -04- = 361121653
2006 / -05- = 985092012
2006 / -06- = 2098059770
2006 / -07- = 242337901
2006 / -08- = 429249082
2006 / -09- = 451456811
2006 / -10- = 826087838
2006 / -11- = 1106305898
2006 / -12- = 935240354
2006 = 935240354
2007 / -01- = 91188025
2007 / -02- = 500661304
2007 / -03- = 714586308
2007 / -04- = 143245753
2007 / -05- = 2042169546
2007 / -06- = 2764341802
2007 / -07- = 747619985
2007 / -08- = 881421482
2007 / -09- = 435838557
2007 / -10- = 516228592
2007 / -11- = 896805244
2007 / -12- = 1831805203
2007 = 1831805203
2008 / -01- = 440344541
2008 / -02- = 987454669
2008 / -03- = 251671904
2008 / -04- = 720571689
2008 / -05- = 1744305931
2008 / -06- = 1943384763
2008 / -07- = 1791301749
2008 / -08- = 325382603
2008 / -09- = 339476350
2008 / -10- = 1145762453
2008 / -11- = 847289768
2008 / -12- = 1126935570
2008 = 1126935570
2009 / -01- = 996529660
2009 / -02- = 326413800
2009 / -03- = 1276096794
2009 / -04- = 651749767
2009 / -05- = 1435747314
2009 / -06- = 1520284741
2009 / -07- = 1202339588
2009 / -08- = 803565587
2009 / -09- = 393041320
2009 / -10- = 836577088
2009 / -11- = 558158975
2009 / -12- = 3423239738
2009 = 3423239738
2010 / -01- = 233051923
2010 / -02- = 671341193
2010 / -03- = 1471122239
2010 / -04- = 841530415
2010 / -05- = 1105092975
2010 / -06- = 2449561498
2010 / -07- = 1567485183
2010 / -08- = 971023396
2010 / -09- = 1091274243
2010 / -10- = 1080204976
2010 / -11- = 736020890
2010 / -12- = 899583599
2010 = 899583599
2011 / -01- = 591644835
2011 / -02- = 642751509
2011 / -03- = 1443419914
2011 / -04- = 1507477958
2011 / -05- = 1917491757
2011 / -06- = 1524706926
2011 / -07- = 2331661017
2011 / -08- = 667283164
2011 / -09- = 733166385
2011 / -10- = 968743489
2011 / -11- = 859313689
2011 / -12- = 1542580698
2011 = 1542580698
2012 / -01- = 381045653
2012 / -02- = 573073426
2012 / -03- = 1459834347
2012 / -04- = 1767272417
2012 / -05- = 1140614925
2012 / -06- = 2965481705
2012 / -07- = 940512033
2012 / -08- = 702588445
2012 / -09- = 1308166465
2012 / -10- = 1320250459
2012 / -11- = 2412991475
2012 / -12- = 1105170337
2012 = 1105170337
2013 / -01- = 449051535
2013 / -02- = 509981099
2013 / -03- = 970223425
2013 / -04- = 1423545114
2013 / -05- = 1724496337
2013 / -06- = 2411922008
2013 / -07- = 1192996016
2013 / -08- = 590070005
2013 / -09- = 1165693297
2013 / -10- = 1042812263
2013 / -11- = 2047380217
2013 / -12- = 1715008475
2013 = 1715008475
2014 / -01- = 541637085
2014 / -02- = 736685970
2014 / -03- = 1768873778
2014 / -04- = 795767674
2014 / -05- = 2279978281
2014 / -06- = 1176264662
2014 / -07- = 1611081683
2014 / -08- = 1163610627
2014 / -09- = 596366679
2014 / -10- = 1764509467
2014 / -11- = 2043956761
2014 / -12- = 1919080286
2014 = 1919080286
2015 / -01- = 630233784
2015 / -02- = 884789565
2015 / -03- = 937945994
2015 / -04- = 2602565518
2015 / -05- = 1103503482
2015 / -06- = 3757679861
2015 / -07- = 1552273188
2015 / -08- = 491699146
2015 / -09- = 1775686025
2015 / -10- = 942161764
2015 / -11- = 1212708544
2015 / -12- = 2777325507
2015 = 2777325507

In [101]:
qst = ['Universal Pictures', 'Warner Bros', 'Jim Henson Company', 'Paramount Pictures', 'Four By Two Productions']
for elm in qst:
    print(elm)
    print('\t Simbols', '=', mv[mv['production_companies'].str.contains(elm)].original_title.str.len().max())
    print('\t Words', '=', mv[mv['production_companies'].str.contains(elm)].original_title.str.count(' ').max() + 1)

Universal Pictures
	 Simbols = 47
	 Words = 9
Warner Bros
	 Simbols = 58
	 Words = 10
Jim Henson Company
	 Simbols = 59
	 Words = 10
Paramount Pictures
	 Simbols = 50
	 Words = 9
Four By Two Productions
	 Simbols = 83
	 Words = 12

In [102]:
wrds = pd.DataFrame(mv.original_title.str.split().sum())
wrds.columns = ['original_title']
wrds.drop_duplicates(subset = 'original_title', keep = 'first', inplace = True)
wrds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2476 entries, 0 to 5136
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  2476 non-null   object
dtypes: object(1)
memory usage: 38.7+ KB

In [103]:
qst = ['Inside Out', 'Gone Girl', '12 Years a Slave', 'BloodRayne', 'The Lord of the Rings: The Return of the King', 'Upside Down', '300', 'Lucky Number Slevin']
for elm in qst:
    vlm = mv.vote_average[mv.original_title.str.contains(elm)]
    display(vlm)

9    8.0
Name: vote_average, dtype: float64

128    7.9
Name: vote_average, dtype: float64

1192    7.9
Name: vote_average, dtype: float64

1405    3.8
Name: vote_average, dtype: float64

1082    7.9
Name: vote_average, dtype: float64

1008    6.1
Name: vote_average, dtype: float64

160     6.1
571     5.4
1663    5.1
1683    7.0
Name: vote_average, dtype: float64

1457    7.3
Name: vote_average, dtype: float64

In [91]:
mv[(mv.cast.str.contains("Johnny Depp"))&(mv.cast.str.contains("Helena Bonham Carter"))].original_title.nunique()

6

In [87]:
mv[(mv.cast.str.contains("Hugh Jackman"))&(mv.cast.str.contains("Ian McKellen"))].original_title.nunique()

5

In [88]:
mv[(mv.cast.str.contains("Vin Diesel"))&(mv.cast.str.contains("Paul Walker"))].original_title.nunique()

5

In [89]:
mv[(mv.cast.str.contains("Adam Sandler"))&(mv.cast.str.contains("Kevin James"))].original_title.nunique()

5

In [90]:
mv[(mv.cast.str.contains("Daniel Radcliffe"))&(mv.cast.str.contains("Rupert Grint"))].original_title.nunique()

8

In [121]:
qst = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
for elm in qst:
    print(elm)
    ttl = mv[(mv.director.str.contains(elm))].original_title.nunique()
    ovr = mv[(mv.director.str.contains(elm))&(mv['profit'] > 0)].original_title.nunique()
    pers = ovr / ttl * 100
    print('\t %', '=', int(pers))

Quentin Tarantino
	 % = 85
Steven Soderbergh
	 % = 76
Robert Rodriguez
	 % = 72
Christopher Nolan
	 % = 100
Clint Eastwood
	 % = 83